.all-movies-container{
    height: auto;
    width: 15vw;
    display: flex;
}

.moviecard-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 92vh;
    width: 100vw;
}